doctype html
html
    include ../layout/head.jade

    body
        include ../layout/header.jade

        section#main.animated.fadeInUp
            //- .section-title
            //-     .h-container
            //-         .photo-span
            //-         h1 Stories
            //-         .text-blurb
            //-             p I explore the world and capture atmosheres with my Canon lens. I write stories about my adventures illustrated by photographs and fullfilled with memories.
            //-             //- p "Photography  is the only language that is understood anywhere in the world." - Bruno Barbey
            //-             hr
            
            .section-stories
                
                    each story in stories
                        - var classList = (story.isFeatured === 0 ? 'i-story' : 'i-story featured')
                        
                        div(class=classList)
                            
                            img.lazy(data-src='/images/stories/' + story.img + '/preview.jpg' src='/images/i.png')

                            if story.url
                                a(href='/stories/#{story.url}')
                            
                                    .img-overlay
                                    .i-story-overlay
                                        p.i-story-title #{story.title}
                                        p.i-story-desc #{story.description}
                                        .btn.btn-small
                                            span.btn-text Read story
                            else
                                .img-overlay
                                    .i-story-overlay
                                        p.i-story-title #{story.title}
                                        p.i-story-desc #{story.description}
                                        .btn.btn-small
                                            span.btn-text Coming soon

   
           
            include ../layout/fnote.jade
            include ../layout/social.jade
            include ../layout/footer.jade

            script.
                var page = $.julia('stories');
            
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-45900882-1', 'auto');
                ga('send', 'pageview');
