extends ../layout/stories/story.jade
block append meta

    meta(content='Asia, Thailand, adventure-travel, beaches, coasts-and-islands, diving-and-snorkelling, eco-tourism, food-and-drink, health-and-wellbeing, honeymoons-and-romance, luxury-travel, parks-and-reserves, wildlife-and-nature')
    meta(name='title', content='Story about ' + stories.sonoma2015.title + ' by Julia Khusainova')
    meta(name='description', content=stories.sonoma2015.description)
    

    meta(name='twitter:card', content='http://julia.im/images/stories/' + stories.sonoma2015.img + '/thumb_600.jpg')
    meta(name='twitter:site', content='@juliakhusainova')
    meta(name='twitter:title', content='Story about ' + stories.sonoma2015.title + ' by Julia Khusainova')
    meta(name='twitter:description', content=stories.yosemite.description)
    meta(name='twitter:image:src', content='http://julia.im/images/stories/' + stories.sonoma2015.img + '/thumb_600.jpg')


    meta(property='og:url', content='http://julia.im/stories/sonoma-2015')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Story about ' + stories.sonoma2015.title + ' by Julia Khusainova')
    meta(property='og:image', content='http://julia.im/images/stories/' + stories.sonoma2015.img + '/thumb_600.jpg')
    meta(property='og:description', content=stories.sonoma2015.description)
     
    link(rel='http://julia.im/images/stories/' + stories.sonoma2015.img + '/thumb_600.jpg', type="image/jpeg", href='http://julia.im/images/stories/' + stories.sonoma2015.img)

block content

    section#main.story-page
        .featured-story#sonoma2015
        .featured-overlay

        .story-title
            .h-container
                .story-date April 2015
                h1 #{stories.sonoma2015.title}
                p.story-subtitle #{stories.sonoma2015.description}
    .h-container.content-container
        .row
            .text
                p.wiki Sonoma is the southwestern county and largest producer of California's Wine Country region, which also includes Napa, Mendocino, and Lake counties. It has 13 approved American Viticultural Areas and over 250 wineries. In 2002, Sonoma County ranked as the 32nd county in the United States in agricultural production.
                //- p Population: 478,551
                //- p Founded: 1846

                h2 Afternoon ride to Sonoma
                p Friday after work I raced home to finish packing, grab my Canon and jump into the car. It was also the day when Periscope came out so we were enjoying riding, laughing and periscoping on the way to Sonoma.
               
        .row
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.sonoma2015.img + '/1.jpg' alt='Story about ' + stories.sonoma2015.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.sonoma2015.img + '/2.jpg' alt='Story about ' + stories.sonoma2015.title + ' by Julia Khusainova')

        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.sonoma2015.img + '/3.jpg' alt='Story about ' + stories.sonoma2015.title + ' by Julia Khusainova')

        .row
            .column
                .text
                    p This is how San Francisco looks like right after you leave Golden Gate bridge. White LEGO blocks the over ocean.
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.sonoma2015.img + '/4.jpg' alt='Story about ' + stories.sonoma2015.title + ' by Julia Khusainova')
        .row
            .column
                .text
                    p At some point on a way to Sonoma you find yourself looking at country landscapes. Peaceful life of Northern California: farms, horses and strawberry fields.
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.sonoma2015.img + '/9.jpg' alt='Story about ' + stories.sonoma2015.title + ' by Julia Khusainova')

        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.sonoma2015.img + '/7.jpg' alt='Story about ' + stories.sonoma2015.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.sonoma2015.img + '/14.jpg' alt='Story about ' + stories.sonoma2015.title + ' by Julia Khusainova')
        .row
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.sonoma2015.img + '/8.jpg' alt='Story about ' + stories.sonoma2015.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.sonoma2015.img + '/5.jpg' alt='Story about ' + stories.sonoma2015.title + ' by Julia Khusainova')
        .row
            .text
                h2 At the campfire
                p Shortly after we arrived.
                p Adi and Mike were already there, so were DBells, Tash and Erin. They were setting up the tent. We brought a bunch of food and beer with us and started unpacking.
                p It started to get dark very quickly.
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.sonoma2015.img + '/16.jpg' alt='Story about ' + stories.sonoma2015.title + ' by Julia Khusainova')
        .row
            .text
                p The campfire is what this all about. It feels so warm and welcoming sitting around the fire, having nice chat and drinking cold beer and wine.
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.sonoma2015.img + '/15.jpg' alt='Story about ' + stories.sonoma2015.title + ' by Julia Khusainova')
        .row
            .column
                .text
                    p We had such a good time. The stars... 
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.sonoma2015.img + '/19.jpg' alt='Story about ' + stories.sonoma2015.title + ' by Julia Khusainova')

        .row
            .column
                .text
                    p Kalani played guitar... 
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.sonoma2015.img + '/21.jpg' alt='Story about ' + stories.sonoma2015.title + ' by Julia Khusainova')
        .row
            .column
                .text
                    p We were having lots of fun.
        .row
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.sonoma2015.img + '/16-2.jpg' alt='Story about ' + stories.sonoma2015.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.sonoma2015.img + '/23.jpg' alt='Story about ' + stories.sonoma2015.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.sonoma2015.img + '/17.jpg' alt='Story about ' + stories.sonoma2015.title + ' by Julia Khusainova')

        .row
            .column
                .text
                    h2 Day 2
                    p Early in the morning the camp looks like a field of mushrooms. Silent.
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.sonoma2015.img + '/28.jpg' alt='Story about ' + stories.sonoma2015.title + ' by Julia Khusainova')  
        .row
            .column
                .text
                    p Everybody started to wake up slowly and thinking about breakfast. Good thing we had Jason with us and he came fully prepared for the most amazing camping breakfast you can possible imagine.
        .row
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.sonoma2015.img + '/33.jpg' alt='Story about ' + stories.sonoma2015.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.sonoma2015.img + '/31.jpg' alt='Story about ' + stories.sonoma2015.title + ' by Julia Khusainova') 

        .row
            .column
                .text
                    p We made fresh drip coffee. Also had some visitors.
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.sonoma2015.img + '/26.jpg' alt='Story about ' + stories.sonoma2015.title + ' by Julia Khusainova')

        .row
            .column
                .text
                    p After breakfast we went hiking on Planet Trail and made it to the very top while other folks went wine tasting. 
                    p We experienced beautful views of Sonoma and apparently made all the way through the Galaxy.
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.sonoma2015.img + '/36.jpg' alt='Story about ' + stories.sonoma2015.title + ' by Julia Khusainova')
        .row
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.sonoma2015.img + '/34.jpg' alt='Story about ' + stories.sonoma2015.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.sonoma2015.img + '/35.jpg' alt='Story about ' + stories.sonoma2015.title + ' by Julia Khusainova')
        .row
            .column
                .text
                    p Met the same riders in the forest.
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.sonoma2015.img + '/37.jpg' alt='Story about ' + stories.sonoma2015.title + ' by Julia Khusainova')

        .row
            .column
                .text
                    p Sonoma, California.
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.sonoma2015.img + '/38.jpg' alt='Story about ' + stories.sonoma2015.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.sonoma2015.img + '/40.jpg' alt='Story about ' + stories.sonoma2015.title + ' by Julia Khusainova')
        .row
            .column
                .text
                    p Later that afternoon more folks joned us and we were making s'mores, had silent disco and signing songs.
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.sonoma2015.img + '/29.jpg' alt='Story about ' + stories.sonoma2015.title + ' by Julia Khusainova')
        .row
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.sonoma2015.img + '/27.jpg' alt='Story about ' + stories.sonoma2015.title + ' by Julia Khusainova')
             .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.sonoma2015.img + '/24.jpg' alt='Story about ' + stories.sonoma2015.title + ' by Julia Khusainova')
        .row
            .column
                .text
                    h2 Day 3. Rain
                    p We made it home early, wet and happy and spent the rest of the weekend indoors with hot tea and good memories.
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.sonoma2015.img + '/42.jpg' alt='Story about ' + stories.sonoma2015.title + ' by Julia Khusainova')
        .row
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.sonoma2015.img + '/41.jpg' alt='Story about ' + stories.sonoma2015.title + ' by Julia Khusainova')
             .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.sonoma2015.img + '/43.jpg' alt='Story about ' + stories.sonoma2015.title + ' by Julia Khusainova')
        .row
            .column
                include ../layout/comments.jade
        .row
            .column
                .travel-span
                p.interest Point of interest: Sonoma, CA, USA
                hr
        .row
            .column
                include ../layout/share.jade
                p.footnote Technical details: Canon 5d Mark III &bull; 24mm 1.2L &bull; VSCO film processing
        .row
            .column
                include ../layout/subscribe.jade
