extends ../layout/stories/story.jade
block append meta

    meta(content='Asia, Thailand, adventure-travel, beaches, coasts-and-islands, diving-and-snorkelling, eco-tourism, food-and-drink, health-and-wellbeing, honeymoons-and-romance, luxury-travel, parks-and-reserves, wildlife-and-nature')
    meta(name='title', content='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
    meta(name='description', content=stories.yosemite.description)
    

    meta(name='twitter:card', content='http://julia.im/images/stories/' + stories.yosemite.img + '/thumb_600.jpg')
    meta(name='twitter:site', content='@juliakhusainova')
    meta(name='twitter:title', content='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
    meta(name='twitter:description', content=stories.yosemite.description)
    meta(name='twitter:image:src', content='http://julia.im/images/stories/' + stories.yosemite.img + '/thumb_600.jpg')


    meta(property='og:url', content='http://julia.im/stories/yosemite')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
    meta(property='og:image', content='http://julia.im/images/stories/' + stories.yosemite.img + '/thumb_600.jpg')
    meta(property='og:description', content=stories.yosemite.description)

    link(rel='http://julia.im/images/stories/' + stories.yosemite.img + '/thumb_600.jpg', type="image/jpeg", href='http://julia.im/images/stories/' + stories.yosemite.img)

block content

    section#main.story-page
        .featured-story#yosemite
        .featured-ovelay

        .story-title
            .h-container
                .story-date August 2014
                h1 #{stories.yosemite.title}
                p.story-subtitle #{stories.yosemite.description}
    .h-container.content-container
        .row
            .text
                p.wiki Yosemite National Park is a United States National Park spanning eastern portions of Tuolumne, Mariposa and Madera counties in the central eastern portion of the U.S. state of California.
                p Address: Yosemite Village, CA 95389
                p Area: 1,190 sq miles (3,081 km<sup>2</sup>)
                p Established: October 1, 1890

                h2 On the road
                p It was a sunny August day when we hit the road. We took 99 highway as the fastest way to get to the place. We stayed in little tourist city called Mariposa.
                p.point
                    span.fi-anchor
                    | Mariposa, CA
                    a(href='https://www.google.com/maps/place/Mariposa,+CA+95338/@37.4860122,-119.9644672,15z/data=!4m15!1m12!4m11!1m3!2m2!1d-119.9726855!2d37.4931631!1m6!1m2!1s0x8096b0aac3ff60c5:0xb0ab002eb339644e!2sMariposa,+CA+95338!2m2!1d-119.9662843!2d37.4849377!3m1!1s0x8096b0aac3ff60c5:0xb0ab002eb339644e' target='_blank') View on map
        .row
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/0.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/1.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/2.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/4.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
        .row
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/3.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/5.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova') 
        .row
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/6.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/7.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
        .row
            .text
                h2 Hiking to the top
                p Early in the morning we drove to the park, prepared for a long hike.
                p The first thing that strikes - the air is unbelievably fresh, you simply can't get enough of it.
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/11.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
        .row
            .column
                .text
                    p We started climbing to the top. It was super hot, fun and enjoyable hike. We had so much fun!
                    p Right from the start we experienced breathtaking views of Yosemite - rocks, mountains, trees, fields, fog.
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/13.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
        .row
           .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/14.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/15.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/19.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
        .row
           .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/23.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/17.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/18.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/24.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')

        .row
           .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/26.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/28.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
        .row
            .text
                p Yosemite is incredible.
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/21.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
        .row
            .text
                p Fed some wild animals on the way to the top.
        .row
           .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/32.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/31.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/33.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
        .rows
            .text
                p It feels like standing on the edge of the world, being so tiny and...
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/34.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
        .row
           .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/38.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/37.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/40.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
        .row
            .column
                .text
                    p Yosemite is famous for being a home to Giant Sequoias 300 feet tall and two centuries old.
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/39.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
        .row
           .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/42.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/43.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/44.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
        .row
            .column
                .text
                    h2 Sunset in Yosemite
                    p We came down right by the time of the sunset and caught up Yosemite at beautiful golden hour.
                    p The colors are so rich and vibrant that you feel like you are swimming in light. You stand and stare at magnificent beauty.
        .row
           .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/45.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/46.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/47.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/49.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
        .row
            .text
                p Pure gold.
        .row
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/48.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/50.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
        .row
            .text
                p We drove back to the village we were staying at and had a nice and relaxing evening. Climbing the mountains is exausting activity after all. We were pretty tired but super happy.

        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/41.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/52.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
        .row
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/53.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/54.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/55.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
        .row
            .column
                .text
                    h2 Road back
                    p I was looking forward for photographing wind mills for quite some time and got so excited when we saw them on the way.
                    p Wind mills are beautiful.

        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/57.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/58.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
        .row
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/60.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/65.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
        .row
            .column
                .text
                    p More californian scenery.
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/59.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
        .row
            .column
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/64.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
        .row
           .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/63.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
            .column.half
                img.lazy(src='/images/i.png' data-src='/images/stories/' + stories.yosemite.img + '/62.jpg' alt='Story about ' + stories.yosemite.title + ' by Julia Khusainova')
        .row
            .column
                include ../layout/comments.jade    
        .row
            .column
                .travel-span
                p.interest Point of interest: Yosemite, CA, USA
                hr
        .row
            .column
                include ../layout/share.jade
                p.footnote Technical details: Canon 5d Mark III &bull; 50mm 1.4 &bull; 100mm Macro 2.8L &bull; VSCO film processing
        .row
            .column
                include ../layout/subscribe.jade
